.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/** tag styles **/
body {
  color: white;
  background: black;
  font-family: 'Oswald', sans-serif; }

a {
  color: #997f2b;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease; }

a:hover {
  color: #83c0bf; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

span {
  color: #997f2b; }

h1 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: 700; }

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3em; }
  @media screen and (min-width: 900px) {
    h3 {
      font-size: 2em; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 3em; } }

h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 400; }
  @media screen and (min-width: 900px) {
    h4 {
      font-size: 1.8em; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 2.3em; } }

p {
  font-size: 1em;
  color: #b2afaf;
  font-family: "Myriad Pro Regular", sans-serif; }
  @media screen and (min-width: 900px) {
    p {
      font-size: 1em; } }

/** Common Styles **/
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9); }

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translaeZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.mainWrapper {
  max-width: 1200px;
  margin: 0 auto; }

.buttonBox {
  border: 2px solid #5f5d5d;
  padding: 4% 0;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  background: black;
  width: 50%; }
  .buttonBox:hover {
    background: #997f2b; }
    .buttonBox:hover a {
      color: white; }
  @media screen and (min-width: 600px) {
    .buttonBox {
      width: 40%; } }
  @media screen and (min-width: 900px) {
    .buttonBox {
      width: 33%; } }
  @media screen and (min-width: 1024px) {
    .buttonBox {
      width: 30%; } }
  @media screen and (min-width: 1200px) {
    .buttonBox {
      width: 28%; } }

.lgTitle {
  font-size: 4em; }
  @media screen and (min-width: 900px) {
    .lgTitle {
      font-size: 5em; } }
  @media screen and (min-width: 1200px) {
    .lgTitle {
      font-size: 6em; } }

.medTitle {
  font-size: 3em;
  line-height: 1em;
  color: white; }
  @media screen and (min-width: 900px) {
    .medTitle {
      font-size: 4.5em; } }
  @media screen and (min-width: 1200px) {
    .medTitle {
      font-size: 5.5em; } }

/** header styles**/
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.onboarding .cb-slideshow,
.onboarding .cb-slideshow:after {
  height: 100%; }

.cb-slideshow:after {
  content: ''; }

.cb-slideshow li span {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; }

.onboarding .cb-slideshow li span {
  height: 100%;
  top: 0px; }

.cb-slideshow li div {
  z-index: 0;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; }

.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/brewery2.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/conquestPeople2.jpg);
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/brewery1.jpg);
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/conquestPeople.png);
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/conquestBottles.jpg);
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/brewery4.jpg);
  animation-delay: 30s; }

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.no-cssanimations .cb-slideshow li span {
  opacity: 1; }

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 140px; } }
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 80px; } }
.homepage {
  position: relative;
  z-index: 1000; }

.headerLogo {
  max-width: 250px;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .headerLogo {
      max-width: 300px; } }
  @media screen and (min-width: 900px) {
    .headerLogo {
      max-width: 250px;
      z-index: 10000;
      position: relative; } }
  @media screen and (min-width: 1200px) {
    .headerLogo {
      max-width: 300px; } }
  .headerLogo img {
    width: 100%; }

.header_inner {
  position: relative;
  z-index: 2000; }

@media screen and (min-width: 900px) {
  .button h5 {
    display: none; } }

.headerWrapper ul {
  padding: 8% 0;
  text-align: center; }
.headerWrapper li {
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 0 3%; }
.headerWrapper a {
  color: white; }
  .headerWrapper a:hover {
    color: #83c0bf; }
.headerWrapper .main_navigation {
  position: fixed;
  background: rgba(153, 127, 43, 0.9);
  border-top: 1px solid #b2afaf;
  border-bottom: 1px solid #b2afaf;
  width: 100%;
  bottom: 0px;
  z-index: 1000; }
@media screen and (min-width: 600px) {
  .headerWrapper ul {
    padding: 5% 0; }
  .headerWrapper li {
    margin: 0 6%; } }
@media screen and (min-width: 900px) {
  .headerWrapper .main_navigation {
    background: url(../img/blackWood1.png);
    background-position: center 530px;
    position: absolute;
    top: -20px;
    width: 100%;
    height: 120px; }
  .headerWrapper ul {
    background: none;
    padding: 5% 0;
    text-align: center; }
  .headerWrapper li {
    display: inline-block;
    margin-bottom: 0;
    margin: 0 7%; }
  .headerWrapper li:nth-child(2) {
    margin-right: 10%; }
  .headerWrapper li:nth-child(3) {
    margin-left: 11%; } }
@media screen and (min-width: 1024px) {
  .headerWrapper li:nth-child(2) {
    margin-right: 12%; }
  .headerWrapper li:nth-child(3) {
    margin-left: 12%; } }
@media screen and (min-width: 1200px) {
  .headerWrapper ul {
    padding: 4% 0; }
  .headerWrapper li:nth-child(2) {
    margin-right: 16%; }
  .headerWrapper li:nth-child(3) {
    margin-left: 13%; } }

@media screen and (min-width: 900px) {
  .left {
    text-align: left; } }

@media screen and (min-width: 900px) {
  .right {
    text-align: right; } }

.main_navigation > .button {
  text-align: center;
  display: none;
  font-size: 2em; }
  .main_navigation > .button h5 {
    color: #997f2b;
    transition: all 0.5s ease; }
    .main_navigation > .button h5:hover {
      color: #83c0bf; }

/** footer styles **/
.footerWrapper {
  border-top: 1px solid #5f5d5d;
  background: url(../img/blackWood1.png);
  background-position: center 0;
  background-size: cover;
  padding: 2% 5% 25% 5%; }
  @media screen and (min-width: 600px) {
    .footerWrapper {
      padding: 2% 5% 15% 5%; } }
  @media screen and (min-width: 900px) {
    .footerWrapper {
      padding: 2% 5%; } }

.footerContact span {
  font-size: 1.3em;
  font-weight: bolder;
  color: #a70307; }

.footerAddress p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em; }
  @media screen and (min-width: 900px) {
    .footerAddress p {
      text-align: left; } }
@media screen and (min-width: 900px) {
  .footerAddress {
    float: left;
    width: 50%; } }

.footerEmail p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em; }
  @media screen and (min-width: 900px) {
    .footerEmail p {
      text-align: right; } }
@media screen and (min-width: 900px) {
  .footerEmail {
    float: left;
    width: 50%;
    text-align: left; } }

.footerButton {
  width: 75%;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .footerButton {
      width: 65%; } }
  @media screen and (min-width: 900px) {
    .footerButton {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    .footerButton {
      width: 35%; } }

.footerNav {
  margin-top: 10px; }
  .footerNav ul {
    text-align: center; }
  .footerNav li {
    display: inline-block; }
  .footerNav li:first-child {
    margin-right: 2%;
    padding-right: 2%;
    border-right: 1px solid #5f5d5d; }
  .footerNav li:nth-child(2) {
    margin-right: 2%;
    padding-right: 2%;
    border-right: 1px solid #5f5d5d; }
  .footerNav a {
    color: white; }
    .footerNav a:hover {
      color: #83c0bf; }

.footerNewsletter {
  border: 1px solid #5f5d5d;
  padding: 4% 10%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  transition: all 0.5s ease;
  background: black;
  width: 100%; }
  .footerNewsletter p {
    margin: 0;
    padding: 0;
    color: #83c0bf;
    font-size: 0.8em; }
  .footerNewsletter form {
    margin: 0;
    padding: 0; }
  .footerNewsletter input:first-child {
    margin: 0;
    margin-top: 10px;
    background: #b2afaf;
    transition: all 0.5s ease;
    width: 100%; }
  .footerNewsletter input:last-child {
    color: #997f2b;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 6px;
    background: black;
    border: 1px solid #5f5d5d;
    transition: all 0.5s ease;
    padding: 1% 4%;
    width: 100%; }
    .footerNewsletter input:last-child:hover {
      background: #997f2b;
      color: white; }
  @media screen and (min-width: 600px) {
    .footerNewsletter {
      padding: 4% 6%; }
      .footerNewsletter h5 {
        font-size: 1.2em; }
      .footerNewsletter input:first-child {
        float: left;
        width: 68%; }
      .footerNewsletter input:last-child {
        float: left;
        width: 30%;
        margin-left: 2%; } }

.iconBox {
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 900px) {
    .iconBox {
      text-align: left; } }

.icons {
  display: inline-block;
  margin-right: 5px; }

.siteIcons {
  display: none; }

/** Events Page**/
.Events {
  background: url(../img/images/closeKnight_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 100px;
  padding: 5% 5% 15% 5%; }

@media screen and (min-width: 600px) {
  .headerEvents .headerLogo {
    width: 40%; } }

.mainWrapper > h1 > span {
  font-size: 0.8em;
  font-size: 1.2em; }

.eventBox {
  border: 1px solid #5f5d5d;
  margin-top: 50px;
  height: 295px; }
  .eventBox p {
    margin: 0;
    padding: 0; }
  @media screen and (min-width: 900px) {
    .eventBox {
      width: 49%;
      float: left;
      height: 320px; } }

@media screen and (min-width: 900px) {
  .firstEvent {
    margin-right: 2%; } }

.eventDate {
  float: left;
  width: 20%;
  padding: 2% 4% 2% 17px;
  border-right: 1px solid #5f5d5d; }

.eventTime {
  float: left;
  width: 20%;
  padding: 2% 4% 2% 17px; }

.eventInfo {
  clear: both;
  width: 100%;
  border-top: 1px solid #5f5d5d;
  padding: 2% 4% 6% 17px; }
  @media screen and (min-width: 900px) {
    .eventInfo {
      padding: 6% 4% 6% 17px; } }

.iconMargin {
  margin-top: 40px; }
  .iconMargin .icons {
    width: 10%; }
    @media screen and (min-width: 600px) {
      .iconMargin .icons {
        width: 7%; } }
    .iconMargin .icons img {
      width: 100%; }

@media screen and (min-width: 900px) {
  .firstBoxicons {
    margin-top: 98px; } }

.reoccuring {
  clear: both; }
  @media screen and (min-width: 900px) {
    .reoccuring {
      width: 100%;
      margin: 0 auto; } }

.reoccuringBox {
  border: 1px solid #5f5d5d;
  margin-top: 50px;
  height: 295px; }
  .reoccuringBox p {
    margin: 0;
    padding: 0; }
  @media screen and (min-width: 900px) {
    .reoccuringBox {
      height: 320px; } }
  @media screen and (min-width: 900px) {
    .reoccuringBox .eventInfo {
      padding: 2% 4% 3% 17px; }
      .reoccuringBox .eventInfo .icons {
        width: 3%;
        margin-top: 20px; } }

.smTitle {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  line-height: 1em; }

/** Onboarding Page **/
.onboarding {
  max-width: none; }
  .onboarding h1 {
    text-align: center;
    font-size: 1.3em; }
    @media screen and (min-width: 600px) {
      .onboarding h1 {
        font-size: 1.5em; } }
  .onboarding .headerLogo {
    position: relative;
    margin: 0 auto 40% auto;
    top: 0px;
    right: 0;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .onboarding .headerLogo {
        margin: 0 auto 20% auto; } }
    @media screen and (min-width: 900px) {
      .onboarding .headerLogo {
        margin: 0 auto 10% auto; } }

.onboardingAction {
  background: rgba(0, 0, 0, 0.7);
  padding: 8% 0 6% 0;
  width: 100%; }
  .onboardingAction h1 {
    border-bottom: 1px solid #b2afaf;
    padding: 3px 5%;
    font-size: 2.5em;
    padding-bottom: 10px; }
  @media screen and (min-width: 1200px) {
    .onboardingAction {
      padding: 6% 0 4% 0; } }

.age_verify {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: 100px; }

.ageBox {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10% 5%;
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .ageBox {
      width: 75%;
      padding: 8% 5%; } }
  @media screen and (min-width: 900px) {
    .ageBox {
      width: 50%;
      padding: 5%; } }
  @media screen and (min-width: 1200px) {
    .ageBox {
      width: 40%;
      padding: 3%; } }

.answer {
  display: inline-block;
  margin: 0 2%;
  padding: 0 4% 0 4%;
  font-size: 4.5em; }
  @media screen and (min-width: 900px) {
    .answer {
      padding: 0 2% 0 2%; } }

/** Home Page **/
.header_inner .headerLogo {
  margin-top: 100px; }
  @media screen and (min-width: 900px) {
    .header_inner .headerLogo {
      margin-top: 0; } }

.home {
  padding: 8% 5% 15% 5%;
  background: rgba(0, 0, 0, 0.7);
  max-width: none; }

.homepageTitle {
  background: rgba(0, 0, 0, 0.7);
  padding: 10% 0 10% 0;
  width: 100%;
  margin-top: 150px; }
  .homepageTitle h1 {
    padding: 3px 5%; }
  .homepageTitle h1:first-child {
    border-bottom: 1px solid #5f5d5d;
    margin-bottom: 2px;
    font-size: 2.5em; }
  .homepageTitle h1:last-child {
    border-top: 1px solid #b2afaf;
    margin-top: 1px; }
  @media screen and (min-width: 900px) {
    .homepageTitle {
      margin: 330px auto 0 auto;
      padding: 5% 0; }
      .homepageTitle h1 {
        font-size: 3.5em; } }

.findBeerAction {
  background-image: url(../img/taps_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .findBeerAction {
      float: left;
      width: 70%;
      height: 300px; } }

.tastingroomAction {
  background-image: url(../img/homepagepouringBeer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .tastingroomAction {
      width: 75%;
      height: 400px;
      float: left; } }

.beerAction {
  background-image: url(../img/conquestBottles2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .beerAction {
      float: left;
      width: 70%;
      height: 350px; } }

.eventsAction {
  background-image: url(../img/homeEvents.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .eventsAction {
      float: left;
      width: 68%;
      height: 300px; } }

.locationAction {
  background-image: url(../img/homeLocation.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .locationAction {
      float: left;
      width: 32%;
      height: 300px; }
      .locationAction h3 {
        font-size: 3em; }
      .locationAction span {
        font-size: 0.5em; } }

.tapAction {
  background-image: url(../img/homeTap2.png);
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 900px) {
    .tapAction {
      float: left;
      width: 30%;
      height: 350px; }
      .tapAction h3 {
        font-size: 3em; }
      .tapAction span {
        font-size: 0.5em; } }

.hourAction {
  background-image: url(../img/conquestPeopleN.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .hourAction {
      float: left;
      width: 25%;
      height: 400px; }
      .hourAction h3 {
        font-size: 3em; }
      .hourAction span {
        font-size: 0.5em; } }

.storeAction {
  background-image: url(../img/brewery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-width: 900px) {
    .storeAction {
      float: left;
      width: 30%;
      height: 300px; }
      .storeAction h3 {
        font-size: 3em; }
      .storeAction span {
        font-size: 0.5em; } }

.actions {
  border: 1px solid #5f5d5d;
  padding: 11% 4%;
  margin-bottom: 25px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.5s ease;
  margin-bottom: 40px;
  position: relative; }
  .actions p {
    font-size: 0.8em; }
  @media screen and (min-width: 600px) {
    .actions p {
      font-size: 1em; } }
  @media screen and (min-width: 900px) {
    .actions {
      padding: 2%;
      margin-bottom: 0; } }
  .actions .actionWords {
    padding-right: 25%; }
  .actions .arrow1 {
    position: absolute;
    top: 33%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow1 img {
      width: 100%; }
    .actions .arrow1:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow1 {
        right: 4%;
        top: 38%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow1 {
        top: 36%;
        max-width: 65px; } }
  .actions .arrow2 {
    position: absolute;
    top: 22%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow2 img {
      width: 100%; }
    .actions .arrow2:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow2 {
        right: 4%;
        top: 32%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow2 {
        max-width: 65px;
        top: 36%; } }
  .actions .arrow3 {
    position: absolute;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow3 img {
      width: 100%; }
    .actions .arrow3:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow3 {
        right: 4%;
        top: 36%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow3 {
        max-width: 65px;
        top: 32%; } }
  .actions .arrow4 {
    position: absolute;
    top: 33%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow4 img {
      width: 100%; }
    .actions .arrow4:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow4 {
        right: 4%;
        top: 39%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow4 {
        max-width: 65px;
        top: 32%; } }
  .actions .arrow5 {
    position: absolute;
    top: 33%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow5 img {
      width: 100%; }
    .actions .arrow5:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow5 {
        right: 4%;
        top: 38%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow5 {
        max-width: 65px;
        top: 30%; } }
  .actions .arrow6 {
    position: absolute;
    top: 28%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow6 img {
      width: 100%; }
    .actions .arrow6:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow6 {
        right: 4%;
        top: 32%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow6 {
        max-width: 65px;
        top: 30%; } }
  .actions .arrow7 {
    position: absolute;
    top: 25%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow7 img {
      width: 100%; }
    .actions .arrow7:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow7 {
        right: 4%;
        top: 33%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow7 {
        max-width: 65px;
        top: 30%; } }
  .actions .arrow8 {
    position: absolute;
    top: 30%;
    right: 2%;
    max-width: 45px;
    transition: all 0.3s ease; }
    .actions .arrow8 img {
      width: 100%; }
    .actions .arrow8:hover {
      opacity: 0.5; }
    @media screen and (min-width: 600px) {
      .actions .arrow8 {
        right: 4%;
        top: 34%; } }
    @media screen and (min-width: 900px) {
      .actions .arrow8 {
        max-width: 65px;
        top: 30%; } }

/** TASTING ROOM PAGE **/
.tastingroom {
  padding: 7% 5% 15% 5%;
  background-image: url(../img/homepagepouringBeer.png);
  background-position: top right;
  background-repeat: no-repeat; }
  @media screen and (min-width: 900px) {
    .tastingroom {
      background-position: right -145px; } }

.tastingroomWords {
  margin: 50px 0 50px 0;
  background: rgba(0, 0, 0, 0.5);
  max-width: 250px;
  padding: 4%; }
  @media screen and (min-width: 447px) {
    .tastingroomWords {
      margin: 100px 0 50px 0; } }
  @media screen and (min-width: 900px) {
    .tastingroomWords {
      margin: 50px 0 50px 0;
      max-width: 310px; } }
  @media screen and (min-width: 1200px) {
    .tastingroomWords {
      max-width: 350px; } }

.hourWrapper {
  margin-bottom: 200px;
  width: 325px; }
  @media screen and (min-width: 600px) {
    .hourWrapper {
      width: 350px; } }
  @media screen and (min-width: 900px) {
    .hourWrapper {
      background: none;
      padding: 0; } }

.hours {
  border: 1px solid #5f5d5d;
  width: 275px; }
  .hours p {
    color: white;
    font-size: 0.8em; }
  @media screen and (min-width: 900px) {
    .hours {
      width: 325px; } }
  @media screen and (min-width: 1200px) {
    .hours {
      width: 400px; }
      .hours p {
        font-size: 1em; } }

.day {
  float: left;
  width: 40%;
  border-right: 1px solid #5f5d5d;
  padding-left: 2%; }

.hour {
  float: left;
  width: 60%;
  padding-left: 2%; }

.gray {
  background: #b2afaf; }

.tap {
  background-image: url(../img/homeTap2.png);
  background-position: center right;
  background-size: cover;
  margin-bottom: 50px; }
  .tap a {
    line-height: 2em; }

.current {
  border: 1px solid #5f5d5d;
  background: black;
  padding: 5%;
  margin: 10% 5% 0 5%; }

.upcoming {
  padding: 10%; }

@media screen and (min-width: 600px) {
  .leftList {
    width: 50%;
    float: left; } }

@media screen and (min-width: 600px) {
  .rightList {
    width: 50%;
    float: left; } }

.callforEvents {
  margin-bottom: 50px;
  background-image: url(../img/images/grayWood_02.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10%; }

.map {
  padding: 0;
  margin: 0; }

iframe {
  margin: 0;
  padding: 0; }

/** About Us Page **/
.aboutus {
  padding: 7% 5% 15% 5%;
  background-image: url(../img/images/grayWood_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top; }

.aboutusTwo {
  margin-top: 50px;
  padding: 8% 5% 8% 5%;
  background-size: contain; }

.beerMugs {
  width: 100%;
  float: right;
  margin: 7% 0 40px 5%; }
  .beerMugs img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .beerMugs {
      width: 55%; } }
  @media screen and (min-width: 900px) {
    .beerMugs {
      width: 45%; } }

.whoweare {
  margin-top: 70px; }
  .whoweare p {
    line-height: 2em; }

.logoCutout {
  width: 50%;
  margin: 0 auto; }
  .logoCutout img {
    width: 100%; }

.historyQuote {
  background: url(../img/images/Vector-Dark-Background1_01.png);
  background-size: cover;
  background-position: center center;
  border-top: 5px solid #a70307;
  border-bottom: 5px solid #a70307;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  padding: 5%; }
  .historyQuote p {
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin: 5px 4px 5px 4px; }

.people {
  margin-bottom: 70px; }
  .people p {
    line-height: 2em; }
    @media screen and (min-width: 1024px) {
      .people p {
        float: left;
        width: 55%; } }

.pic {
  margin: 30px 0;
  width: 100%; }
  .pic img {
    width: 100%; }
  @media screen and (min-width: 900px) {
    .pic {
      width: 40%;
      float: left;
      margin: 30px 5% 5% 0; } }

.thankyou {
  padding-top: 70px;
  background: url(../img/images/Vector-Dark-Background1_01.png);
  background-position: contain;
  background-position: center top;
  padding: 5%; }
  .thankyou h3 {
    margin-bottom: 50px;
    text-transform: uppercase; }
    @media screen and (min-width: 1024px) {
      .thankyou h3 {
        font-size: 2em; } }
  .thankyou a {
    margin-bottom: 15px; }

/** Find Our Beers Page **/
.findourbeers {
  padding: 7% 5% 15% 5%;
  background-image: url(../img/blackWood2.png);
  background-position: center top;
  background-repeat: no-repeat; }
  .findourbeers h1 span {
    font-size: 0.8em; }

form {
  margin: 70px 0; }

.formButton {
  width: 40%; }
  .formButton input {
    width: 100%;
    padding: 5% 10%;
    background: black;
    border: 1px solid #5f5d5d;
    color: #997f2b;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    transition: all 0.5s ease;
    display: block; }
    .formButton input:hover {
      background: #997f2b;
      color: white; }
  @media screen and (min-width: 600px) {
    .formButton {
      width: 30%; } }
  @media screen and (min-width: 900px) {
    .formButton {
      width: 20%; } }

select {
  background: #997f2b;
  border: none;
  color: black;
  display: inline-block; }

input {
  margin: 10px 5px;
  color: black;
  font-size: 1em;
  padding: 1%;
  background: #997f2b;
  border: none;
  display: block;
  border: 1px solid #5f5d5d; }
  input:hover {
    background: #b2afaf;
    border: 1px solid #5f5d5d; }

label {
  margin: 0 5px; }

.address {
  width: 45%;
  display: inline-block;
  margin: 15px 1%;
  vertical-align: top; }
  .address h4 {
    margin: 0;
    padding: 0; }
  .address p {
    margin: 0;
    padding: 0; }
  @media screen and (min-width: 600px) {
    .address {
      max-width: 25%;
      margin: 15px 3%; } }
  @media screen and (min-width: 900px) {
    .address {
      max-width: 18%; }
      .address h4 {
        font-size: 1.2em; }
      .address p {
        font-size: 0.8em; } }

.addressList li {
  display: none; }
.addressList .active {
  display: inline-block; }

.no_results {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #5f5d5d;
  color: #a70307;
  padding: 5%;
  width: 40%; }
  .no_results h3 {
    font-size: 1.5em; }
  .no_results span {
    color: white; }

/** Our Beers Page **/
.ourbeers {
  padding: 15% 5%;
  background-image: url(../img/beerChart_03.png);
  background-size: contain;
  padding: 5% 5% 15% 5%; }
  .ourbeers p {
    line-height: 2em; }

@media screen and (min-width: 900px) {
  .beerNav_container {
    position: absolute;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 0;
    top: 0;
    right: 0;
    left: 0; }
    .beerNav_container.fixed {
      position: fixed; } }

.beerNav {
  width: 100%;
  top: 0px;
  background-color: black;
  padding-top: 5%; }
  .beerNav ul {
    text-align: center; }
  .beerNav li {
    margin-bottom: 20px;
    display: inline-block;
    width: 43%; }
  @media screen and (min-width: 900px) {
    .beerNav {
      position: absolute;
      background: none;
      top: 0;
      left: 0;
      width: 240px;
      border-right: 1px solid rgba(153, 127, 43, 0.3);
      background: rgba(0, 0, 0, 0.2);
      padding: 2%; }
      .beerNav ul {
        text-align: left; }
      .beerNav li {
        display: block;
        width: 100%;
        margin-bottom: 45px; } }

.below {
  margin-bottom: 15px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+12,000000+89,000000+100&amp;0.01+1,1+12,0.99+61,1+89,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 1%, black 12%, rgba(0, 0, 0, 0.99) 61%, black 89%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.01)), color-stop(1%, rgba(0, 0, 0, 0.01)), color-stop(12%, black), color-stop(61%, rgba(0, 0, 0, 0.99)), color-stop(89%, black), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 1%, black 12%, rgba(0, 0, 0, 0.99) 61%, black 89%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 1%, black 12%, rgba(0, 0, 0, 0.99) 61%, black 89%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 1%, black 12%, rgba(0, 0, 0, 0.99) 61%, black 89%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 1%, black 12%, rgba(0, 0, 0, 0.99) 61%, black 89%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */ }
  @media screen and (min-width: 900px) {
    .below {
      display: none; } }

@media screen and (min-width: 900px) {
  .beersWrapper {
    float: right;
    padding-left: 0;
    width: 70%; } }

.beerGroup {
  padding-bottom: 50px; }
  @media screen and (min-width: 900px) {
    .beerGroup {
      margin-top: 0; } }

.beerImage {
  margin-top: 70px;
  width: 50%; }
  .beerImage img {
    width: 100%; }
  @media screen and (min-width: 900px) {
    .beerImage {
      width: 30%;
      float: left;
      margin-top: 110px; } }

.beerInfo {
  border: 1px solid #5f5d5d;
  margin: 10px 0 30px 0; }
  @media screen and (min-width: 900px) {
    .beerInfo {
      float: left;
      width: 70%;
      margin-top: 70px; } }

.beerTitle {
  padding: 3%;
  border-bottom: 1px solid #5f5d5d; }
  .beerTitle .medTitle {
    font-size: 2.5em; }
  .beerTitle h3 {
    font-size: 1em; }

.statTitle {
  padding: 3%;
  float: left;
  width: 15%;
  text-align: right;
  padding: 3%;
  color: #997f2b; }
  .statTitle li {
    margin-bottom: 10px; }
  @media screen and (min-width: 900px) {
    .statTitle {
      width: 15%; } }

.statInfo {
  padding: 3%;
  float: left;
  width: 80%;
  border-left: 1px solid #5f5d5d; }
  .statInfo li {
    margin-bottom: 10px; }
  @media screen and (min-width: 900px) {
    .statInfo {
      width: 79%; } }
  @media screen and (min-width: 900px) {
    .statInfo {
      width: 39%;
      border-right: 1px solid #5f5d5d; } }

.beerQuote {
  padding: 3%;
  clear: both;
  border-top: 1px solid #5f5d5d; }
  @media screen and (min-width: 900px) {
    .beerQuote {
      width: 46%;
      border-top: none;
      float: left;
      clear: none; } }

@media screen and (min-width: 900px) {
  .beerWords {
    clear: both; } }

.callforFind {
  border-top: 1px solid #5f5d5d;
  background: none;
  padding-top: 50px; }

/*# sourceMappingURL=styles.css.map */
